@use "./assets/styles/variables" as *;
@use "./assets/styles/mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, button {
  font-family: "Nunito", sans-serif;
  background-color: $bg-color;
}

h1 {
  font-weight: $extrabold;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 1rem;

  @include tablet {
    padding: 0rem 2.25rem;
  }

  @include desktop {
    padding: 0rem 8.125rem;
  }
}

.star-icon {
  color: $orange;
}