// Breakpoints for Responsive Design
$tablet: 768px;
$desktop: 1280px;

// Font Weights
$regular: 400;
$semibold: 600;
$bold: 700;

// Primary Colours
$black: #13182C;
$white: #FFFFFF;
$bg-color: #FEF7EC;